<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>@ViewData["Title"] Prudent Women</title>

    <!-- General CSS Files -->
    <link asp-append-version="true" rel="stylesheet" href="~/assets/modules/bootstrap/css/bootstrap.min.css">
    <link asp-append-version="true" rel="stylesheet" href="~/assets/modules/fontawesome/css/all.min.css">

    <!-- View CSS Libraries -->
    @await RenderSectionAsync("styles", required:false)

    <!-- Template CSS -->
    <link asp-append-version="true" rel="stylesheet" href="~/assets/css/style.min.css">
    <link asp-append-version="true" rel="stylesheet" href="~/assets/css/components.min.css">
</head>

<body class="layout-4">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <span class="loader"><span class="loader-inner"></span></span>
    </div>

    <div id="app">
        <div class="main-wrapper main-wrapper-1">
            <div class="navbar-bg"></div>

            <!-- Start app top navbar -->
            <nav class="navbar navbar-expand-lg main-navbar">
                <form class="form-inline mr-auto">
                    <ul class="navbar-nav mr-3">
                        <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a></li>
                        <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i class="fas fa-search"></i></a></li>
                    </ul>
                    <div class="search-element">
                       @* <input class="form-control" type="search" placeholder="Search" aria-label="Search" data-width="250">
                        <button class="btn" type="submit"><i class="fas fa-search"></i></button>
                        <div class="search-backdrop"></div>
                        <div class="search-result">
                            <div class="search-header">
                                Histories
                            </div>
                            <div class="search-item">
                                <a href="#">How to hack NASA using CSS</a>
                                <a href="#" class="search-close"><i class="fas fa-times"></i></a>
                            </div>
                            <div class="search-item">
                                <a href="#">Kodinger.com</a>
                                <a href="#" class="search-close"><i class="fas fa-times"></i></a>
                            </div>
                            <div class="search-item">
                                <a href="#">#CodiePie</a>
                                <a href="#" class="search-close"><i class="fas fa-times"></i></a>
                            </div>
                            <div class="search-header">
                                Result
                            </div>
                            <div class="search-item">
                                <a href="#">
                                    <img class="mr-3 rounded" width="30" src="~/assets/img/products/product-3-50.png" alt="product">
                                    oPhone S9 Limited Edition
                                </a>
                            </div>
                            <div class="search-item">
                                <a href="#">
                                    <img class="mr-3 rounded" width="30" src="~/assets/img/products/product-2-50.png" alt="product">
                                    Drone X2 New Gen-7
                                </a>
                            </div>
                            <div class="search-item">
                                <a href="#">
                                    <img class="mr-3 rounded" width="30" src="~/assets/img/products/product-1-50.png" alt="product">
                                    Headphone Blitz
                                </a>
                            </div>
                            <div class="search-header">
                                Projects
                            </div>
                            <div class="search-item">
                                <a href="#">
                                    <div class="search-icon bg-danger text-white mr-3">
                                        <i class="fas fa-code"></i>
                                    </div>
                                    CodiePie Admin Template
                                </a>
                            </div>
                            <div class="search-item">
                                <a href="#">
                                    <div class="search-icon bg-primary text-white mr-3">
                                        <i class="fas fa-laptop"></i>
                                    </div>
                                    Create a new Homepage Design
                                </a>
                            </div>
                        </div>*@
                    </div>
                </form>
                <ul class="navbar-nav navbar-right">
                    @*<li class="dropdown dropdown-list-toggle">
                        <a href="#" data-toggle="dropdown" class="nav-link nav-link-lg message-toggle beep"><i class="far fa-envelope"></i></a>
                    </li>
                    <li class="dropdown dropdown-list-toggle">
                        <a href="#" data-toggle="dropdown" class="nav-link notification-toggle nav-link-lg beep"><i class="far fa-bell"></i></a>
                    </li>*@
                    <partial name="/Areas/Admin/Views/Shared/_LoginPartial.cshtml" />
                </ul>
            </nav>

            <!-- Start main left sidebar menu -->
            <div class="main-sidebar sidebar-style-2">
                <aside id="sidebar-wrapper">
                    <div class="sidebar-brand">
                        <a href="/admin/dashboard/index">PrudentWomen</a>
                    </div>
                    <div class="sidebar-brand sidebar-brand-sm">
                        <a href="/admin/dashboard/index">PW</a>
                    </div>
                    <ul class="sidebar-menu">
                        <li class="menu-header">Dashboard</li>
                        <li><a class="nav-link" href="/admin/dashboard/index"><i class="fas fa-pencil-ruler"></i> <span>Home</span></a></li>
                        <li class="menu-header">Starter</li>
                        <li><a class="nav-link" href="/admin/regcode/index"><i class="far fa-square"></i> <span>Registration Codes</span></a></li>
                        <li><a class="nav-link" href="/admin/users/list"><i class="fas fa-th-large"></i> <span>Users</span></a></li>
                      
                        @*<li class="menu-header">CodiePie</li>
                        <li><a class="nav-link" href="/admin/regcode/index"><i class="fas fa-pencil-ruler"></i> <span>Credits</span></a></li>*@
                    </ul>
                    <div class="mt-4 mb-4 p-3 hide-sidebar-mini">
                        <a href="javascript:void(0);" class="btn btn-primary btn-lg btn-block btn-icon-split"><i class="fas fa-rocket"></i> Documentation</a>
                    </div>
                </aside>
            </div>

            <!-- Start app main Content -->
            @RenderBody()

            <!-- Start app Footer part -->
            <footer class="main-footer">
                <div class="footer-left">
                    <div class="bullet"></div>  <a href="http://prudentwomen.org">Prudent Women</a>
                </div>
                <div class="footer-right">
                </div>
            </footer>
        </div>
    </div>

    <!-- General JS Scripts -->
    <script asp-append-version="true" src="~/assets/bundles/lib.vendor.bundle.js"></script>
    <script asp-append-version="true" src="~/js/CodiePie.js"></script>

    <!-- JS Libraies -->
    <!-- Page Specific JS File -->
    @await RenderSectionAsync("Scripts", required: false)
    <!-- Template JS File -->
    <script asp-append-version="true" src="~/js/scripts.js"></script>
    <script asp-append-version="true" src="~/js/custom.js"></script>
    @await RenderSectionAsync("modals", required: false)
</body>

</html>