<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>@ViewData["Title"] Prudent Women</title>

    <!-- General CSS Files -->
    <link asp-append-version="true" rel="stylesheet" href="~/assets/modules/bootstrap/css/bootstrap.min.css">
    <link asp-append-version="true" rel="stylesheet" href="~/assets/modules/fontawesome/css/all.min.css">

    <!-- View CSS Libraries -->
    @await RenderSectionAsync("styles", required:false)

    <!-- Template CSS -->
    <link asp-append-version="true" rel="stylesheet" href="~/assets/css/style.min.css">
    <link asp-append-version="true" rel="stylesheet" href="~/assets/css/components.min.css">
</head>

<body class="layout-4">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <span class="loader"><span class="loader-inner"></span></span>
    </div>

    <div id="app">
        <div class="main-wrapper main-wrapper-1">
            <div class="navbar-bg"></div>

            <!-- Start app top navbar -->
            <nav class="navbar navbar-expand-lg main-navbar">
                <form class="form-inline mr-auto">
                    <ul class="navbar-nav mr-3">
                        <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a></li>
                        <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i class="fas fa-search"></i></a></li>
                    </ul>
                    <div class="search-element">
                     
                    </div>
                </form>
                <ul class="navbar-nav navbar-right">
                    <partial name="/Areas/Admin/Views/Shared/_LoginPartial.cshtml" />
                </ul>
            </nav>

            <!-- Start main left sidebar menu -->
            <div class="main-sidebar sidebar-style-2">
                <aside id="sidebar-wrapper">
                    <div class="sidebar-brand">
                        <a href="/admin/dashboard/index">PrudentWomen</a>
                    </div>
                    <div class="sidebar-brand sidebar-brand-sm">
                        <a href="/admin/dashboard/index">PW</a>
                    </div>
                   <partial name="/Areas/Admin/Views/Shared/_Sidebar.cshtml" />
                    <div class="mt-4 mb-4 p-3 hide-sidebar-mini">
                        <a href="javascript:void(0);" class="btn btn-primary btn-lg btn-block btn-icon-split"><i class="fas fa-rocket"></i> Documentation</a>
                    </div>
                </aside>
            </div>

            <!-- Start app main Content -->
            @RenderBody()

            <!-- Start app Footer part -->
            <footer class="main-footer">
                <div class="footer-left">
                    <div class="bullet"></div>  <a href="http://prudentwomen.org">Prudent Women</a>
                </div>
                <div class="footer-right">
                </div>
            </footer>
        </div>
    </div>

    <!-- General JS Scripts -->
    <script asp-append-version="true" src="~/assets/bundles/lib.vendor.bundle.js"></script>
    <script asp-append-version="true" src="~/js/CodiePie.js"></script>

    <!-- JS Libraies -->
    <!-- Page Specific JS File -->
    @await RenderSectionAsync("Scripts", required: false)
    <!-- Template JS File -->
    <script asp-append-version="true" src="~/js/scripts.js"></script>
    <script asp-append-version="true" src="~/js/custom.js"></script>
    @await RenderSectionAsync("modals", required: false)
</body>

</html>