@using Monochrome.Module.Core.Models
@using Monochrome.Module.Core.Services
@model PaginatedTable<Loan>

@{
    ViewData["Title"] = "Apply Loan |";
}

<!-- Start app main Content -->
<div class="main-content">
    <section class="section">
        <div class="section-header">
            <h1>Dashboard</h1>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Apply Loan</h4>
                    </div>
                    <div class="card-body p-0">
                    
                    </div>
                 
                </div>
            </div>
        </div>

    </section>
</div>
