@using Monochrome.Module.Core.Models
@using Monochrome.Module.Core.Services
@model LoanApplyForm

@{
    ViewData["Title"] = "Apply Loan |";
}

<!-- Start app main Content -->
<div class="main-content">
    <section class="section">
        <div class="section-header">
            <h1>Dashboard</h1>
        </div>

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form action="/admin/userLoans/apply" method="post" enctype="multipart/form-data">
                    <div class="card" id="settings-card">
                        <div class="card-header">
                            <h4>Apply Loan</h4>
                        </div>
                        <div class="card-body">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label>Amount</label>
                                <input asp-for="Amount" class="form-control">
                                <span class="invalid-feedback" asp-validation-for="Amount"></span>
                            </div>
                            <div class="form-group">
                                <label>Tenure</label>
                                <select asp-for="Tenure" class="form-control">
                                    <option value="1">1 Month</option>
                                    <option value="2">2 Months</option>
                                    <option value="3">3 Months</option>
                                    <option value="4">4 Months</option>
                                    <option value="5">5 Months</option>
                                    <option value="6">6 Months</option>
                                    <option value="7">7 Months</option>
                                    <option value="8">8 Months</option>
                                    <option value="9">9 Months</option>
                                    <option value="10">10 Months</option>
                                    <option value="11">11 Months</option>
                                    <option value="12">12 Months</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Select Disbursement Bank</label>
                                <select asp-for="BankCode" class="form-control" asp-items="@ViewBag.Banks">
                                </select>
                                <span class="invalid-feedback" asp-validation-for="BankCode"></span>
                            </div>
                            <div class="form-group">
                                <label>Disbursement Account</label>
                                <input asp-for="DisbursementAccount" class="form-control">
                                <span id="name_inquiry"></span>
                                <span class="invalid-feedback" asp-validation-for="DisbursementAccount"></span>
                            </div>
                            <div class="form-group">
                                <label>Guarantors if any</label>
                                <input asp-for="Guarantors" class="form-control">
                                <span class="invalid-feedback" asp-validation-for="Guarantors"></span>
                            </div>
                            <div class="form-group">
                                <label>Documents if any</label>
                                <input type="file" asp-for="Documents" class="form-control">
                                <span class="invalid-feedback" asp-validation-for="Documents"></span>
                            </div>
                            <div class="form-group">
                                <p>By submitting this form, you consent to a ₦1,500 application fee charged to your account.</p>
                            </div>
                        </div>
                        <div class="card-footer bg-whitesmoke text-md-right">
                            <button class="btn btn-primary" type="submit">Apply</button>
                            <button class="btn btn-secondary" type="button">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
@section scripts{
    <script asp-append-version="true" type="text/javascript" src="~/js/pages/transactions.js"></script>
}