@{
    ViewData["Title"] = "Confirm email |";
}

<div class="page-error">
    <div class="page-inner">
        <h1 class="text-danger">Confirm Email</h1>
        <div class="page-description">@ViewData["StatusMessage"]</div>
        <div class="page-search">
            <div class="mt-3">
                <a href="/">Back to Login</a>
            </div>
        </div>
    </div>
</div>