@{
    ViewData["Title"] = "Confirm email change |";
}

<div class="login-brand">
    <img src="~/assets/img/logos/logo.jpeg" alt="logo" width="100" class="shadow-light rounded-circle">
</div>
<div class="card card-primary">
    <div class="card-header">
        <h4>Email change</h4>
    </div>
    <div class="card-body">
        <p class="text-muted">@ViewData["StatusMessage"]</p>
    </div>
</div>