@{
    ViewData["Title"] = "Locked out |";
}

<div class="login-brand">
    <img src="~/assets/img/logos/logo.jpeg" alt="logo" width="100" class="shadow-light rounded-circle">
</div>
<div class="card card-primary">
    <div class="card-header">
        <h4 class="text-danger">Locked out</h4>
    </div>
    <div class="card-body">
        <p class="text-muted">This account has been locked out, please try again later.</p>
    </div>
</div>