@model ForgotPasswordModel
@{
    ViewData["Title"] = "Register confirmation |";
}

<div class="page-error">
    <div class="page-inner">
        <h1 class="text-danger">@Model.Email</h1>
        <div class="page-description">Keep this number safe as this is your login username and your transaction reference number.</div>
        <p class="text-muted">Check your email to confirm your account.</p>
        <div class="page-search">
            <div class="mt-3">
                <a href="/">Back to Login</a>
            </div>
        </div>
    </div>
</div>