@model ForgotPasswordModel
@{
    ViewData["Title"] = "Register confirmation |";
}

<div class="page-error">
    <div class="page-inner">
        <div class="page-description">Welcome to the Prudent Women Family.</div>
        <h1 class="text-danger">@Model.Email</h1>
        <div class="page-description">Keep this number safe as you will need it to login to your Prudent Women Account. Always use this username as your Transaction Reference for all your transactions with the Prudent Women Organization.</div>
        <p class="text-muted">Check your email to confirm your account.</p>
        <div class="page-search">
            <div class="mt-3">
                <a href="/">Back to Login</a>
            </div>
        </div>
    </div>
</div>