@{
    ViewData["Title"] = "Reset password confirmation |";
}


<div class="login-brand">
    <img src="~/assets/img/logos/logo.jpeg" alt="logo" width="100" class="shadow-light rounded-circle">
</div>
<div class="card card-primary">
    <div class="card-header">
        <h4>Password Reset</h4>
    </div>
    <div class="card-body">
        <p class="text-muted">
            Your password has been reset. Please <a asp-controller="Auth" asp-area="Authentication" asp-action="Login">click here to log in</a>.
        </p>
    </div>
</div>