@model ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";
}
<div class="card">
    <form method="post" class="needs-validation" novalidate="">
        <div class="card-header">
            <h4>Change Password</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="form-group col-md-6 col-12">
                    <label>Old Password</label>
                    <input asp-for="OldPassword" disabled class="form-control">
                    <div asp-validation-for="OldPassword" class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-6 col-12">
                    <label>New Password</label>
                    <input asp-for="NewPassword" class="form-control">
                    <div asp-validation-for="NewPassword" class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-6 col-12">
                    <label>Confirm Password</label>
                    <input asp-for="ConfirmPassword" class="form-control">
                    <div asp-validation-for="ConfirmPassword" class="invalid-feedback"></div>
                </div>
            </div>
        </div>
        <div class="card-footer text-right">
            <button class="btn btn-primary">Save Changes</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
